.sectionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: 450;
  color: #20293e;
  font-size: 33.16px;
  line-height: 35px;
  flex-shrink: 0;
}
