.sectionTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 40px 0 40px 0;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.03em;
  flex-shrink: 0;
}
