.info {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  justify-content: space-between;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-style: italic;
  line-height: 130%;
}

.info.compact {
  text-align: center;
  justify-content: center;
}
