.info {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.info.compact {
  text-align: center;
  justify-content: center;
}
