.sendWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.errorMessage {
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  bottom: 10px;
  line-height: 16px;
  align-self: end;
  margin-bottom: 16px;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 30px 30px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.header {
  display: flex;
  gap: 18px;
}

.description {
  width: 100%;
}

.toggle {
  width: 40%;
}

.nextWrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.nextButton {
  justify-self: end;
  align-self: end;
}
