@use '../../../styles/gradients';

.root {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #20293e;

  position: relative;
  overflow: hidden;
}

.completion {
  background-color: #20293e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
