.settlementWrapper {
  font-size: 14px;
  line-height: 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #939292;
}

.bar {
  margin-bottom: 25px;
}

.text {
  text-align: center;
  letter-spacing: 0.03em;
  color: #939292;
}
