@use "../../../../styles/mixins.scss";

.cardWrapper {
  overflow: hidden;
  background: white;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  border: 1px solid #e8e6e6;
  @include mixins.shadow_border;
}
