@use '../../../ui-components/styles/mixins';

.root {
  @include mixins.shadow_border;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1px 1fr 1fr 1px 1fr;
  margin-bottom: 30px;
}

.segment,
.lastSegment {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

.lastSegment {
  justify-content: right;
  gap: 15px;
}

.logo {
  height: 20px;
  margin-right: 10px;
}

.name {
  font-size: 18px;
}

.apy {
  // @include mixins.gradient_font;
  font-size: 16px;
}

.value {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.separator {
  width: 1px;
  height: 28px;
  background-color: #eee;
}
