@use '../../../ui-components/styles/mixins';

.fixedTerm {
  text-align: right;
  font-size: 16px;
  position: relative;
  display: flex;
  align-items: center;
}

.claimButton {
  height: 36px;
}

.claimButtonContent {
  font-weight: normal;
  font-size: 20px;
}

.stepNumber {
  font-size: 14px;
}

.statusColumn {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  grid-gap: 15px;
  gap: 15px;
  align-items: center;
  position: relative;
}

.tooltip {
  bottom: 30px;
  position: absolute;
}

.ticks {
  cursor: help;
  height: 12px;
}
