.selectBox {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  font-size: 18px;
  height: 45px;
  cursor: pointer;
}

.innerFrame {
  height: 45px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  margin-left: 10px;
}

.dropdown {
  top: 55px;
  left: 0%;
  width: 130px;
}

.closeButton {
  margin-left: 10px;
}
