.selectBox {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  height: 40px;
  cursor: pointer;
}

.innerFrame {
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value {
  margin-left: 10px;
  white-space: nowrap;
}

.dropdown {
  top: 55px;
  left: 0%;
  width: 130px;
}

.closeButton {
  height: 30px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
