@use '../../../ui-components/styles/mixins';

.root {
  @include mixins.shadow_border;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'firstSegment valueField feeField lastSegment';
  margin-bottom: 30px;
  background-color: white;
}

.valueField {
  grid-area: valueField;
}

.feeField {
  grid-area: feeField;
}

.segment {
  padding: 0 30px;
}

.separator {
  width: 1px;
  height: 28px;
  gap: 20px;
  background-color: #eee;
}

.value {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  white-space: pre;
  font-size: 16px;
  max-width: 125px;
}

.fee {
  font-size: 14px;
}

.time {
  font-size: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.firstSegment {
  padding: 0 30px 0 40px;
  grid-area: firstSegment;
}

.lastSegment {
  padding: 0 40px 0 30px;
  grid-area: lastSegment;
}

@media (max-width: 1024px) {
  .separator {
    display: none;
  }

  .firstSegment {
    margin-right: auto;
    width: 20%;
  }

  .lastSegment {
    margin-left: auto;
    width: 20%;
  }

  .value {
    max-width: initial;
  }
}

@media (max-width: 900px) {
  .segment,
  .lastSegment {
    padding: 0;
  }

  .firstSegment {
    width: 100%;
  }

  .root {
    padding: 20px;
    justify-content: initial;
    display: flex;
    flex-flow: row wrap;
    height: initial;
    gap: 10px 20px;
    flex-direction: column;
    align-items: start;
  }
}
