@use '../../../styles/mixins.scss';
@use '../../../styles/colors.scss';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

.toast {
  @include mixins.shadow_border;
  border-radius: 20px;
  line-height: 26px;
  color: black;
  padding: 20px 25px;
  max-width: 625px;
  will-change: transform;
  background-color: white;
  animation: fade-in 0.3s ease, slide-in 0.3s ease;
  position: relative;
}

.text {
  padding: 0 20px 0 0;
}

.heavy {
  order: 1;
}

.closeButton {
  top: 0;
  right: 15px;
  position: absolute;
  padding: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: right;
}

.error {
  border: 4px solid colors.$error;
}

.warning {
  border: 4px solid colors.$warning;
}
