@use '../../../styles/mixins.scss';

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  user-select: none;
  padding: 16px 32px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
  @include mixins.shadow_border;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0px);
  }
}

.secondary {
  background: #ffffff;
}

.primary {
  background: linear-gradient(134.14deg, #940dff 18.37%, #0094ff 82.04%);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    transform: translateY(0px);
  }
}

.text {
  letter-spacing: 1px;
  white-space: break-spaces;
  font-size: 16px;
  line-height: 24px;
  font-weight: 450;
  text-transform: capitalize;
}

.primary > .text {
  color: #ffffff;
}

.secondary > .text {
  @include mixins.gradient_font;
}

.outlined {
  position: relative;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
  }
}

.loading {
  cursor: default;
  pointer-events: none;

  &:hover {
    transform: translateY(0px);
  }
}
