.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  line-height: 120%;
  text-align: center;

  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
