[submodule "barretenberg"]
	path = barretenberg
	url = git@github.com:aztecprotocol/barretenberg
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/v2-core"]
	path = contracts/lib/v2-core
	url = https://github.com/uniswap/v2-core
[submodule "contracts/lib/v2-periphery"]
	path = contracts/lib/v2-periphery
	url = https://github.com/uniswap/v2-periphery
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/rollup-encoder"]
	path = contracts/lib/rollup-encoder
	url = https://github.com/AztecProtocol/rollup-encoder
	branch = main
[submodule "yarn-project/contracts-verifier-test/lib/forge-std"]
	path = yarn-project/contracts-verifier-test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "yarn-project/contracts-verifier-test/lib/openzeppelin-contracts"]
	path = yarn-project/contracts-verifier-test/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "yarn-project/contracts-verifier-test/lib/openzeppelin-contracts-upgradeable"]
	path = yarn-project/contracts-verifier-test/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "yarn-project/contracts-verifier-test/lib/rollup-encoder"]
	path = yarn-project/contracts-verifier-test/lib/rollup-encoder
	url = https://github.com/AztecProtocol/rollup-encoder
	branch = main
[submodule "contracts/lib/aztec-connect-bridges"]
	path = contracts/lib/aztec-connect-bridges
	url = https://github.com/AztecProtocol/aztec-connect-bridges
	branch = master
