.shieldMoreWrapper {
  display: flex;
  letter-spacing: 0.03em;
  padding: 30px;
  gap: 30px;
  line-height: 150%;
  background-color: white;
  overflow: initial;

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 20px;
    gap: 15px;
  }
}

.shieldMoreLabel {
  white-space: nowrap;
}

.shieldMoreLabel {
  white-space: nowrap;
}
