.shieldMoreWrapper {
  display: flex;
  letter-spacing: 0.03em;
  padding: 30px;
  flex-basis: 33%;
  line-height: 150%;
  overflow: initial;
}

.shieldMoreButton {
  margin-top: 30px;
}

.modalAnchor {
  position: relative;
}

.shieldMoreLabel {
  white-space: nowrap;
}
