@use '../../../../styles/colors.scss';

.cardHeader {
  background: linear-gradient(
    101.14deg,
    colors.$gradient_from 11.12%,
    colors.$gradient_to 58.22%,
    colors.$gradient_to 58.22%
  );
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 16px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
