.splitSectionWrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.topPanel {
  flex: 0 0 60%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.bottomPanel {
  flex: 1 1 auto;
  padding: 24px;
  border-top: 1px solid #e2e2e2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
