.holdingWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px 40px;
  background-color: white;
  margin: 20px 0;
  flex-flow: row wrap;
  gap: 20px;
}

.holdingInformation {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}

.asset {
  display: flex;
  align-items: center;
}

.clock {
  width: 11px;
  height: 11px;
}

.icon {
  @media (max-width: 480px) {
    display: none;
  }
}

.assetWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.holdingUnits {
  font-size: 16px;
  white-space: pre;
  margin-left: 20px;
  display: flex;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  align-items: center;

  @media (max-width: 480px) {
    margin-left: 0;
  }
}

.details {
  margin-left: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  gap: 6px;

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    margin-left: 0;
  }
}

.spendableBalance {
  padding: 3px 0;
}

.alert {
  font-weight: 500;
}

.pendingBalance {
  background-color: #ffd166;
  color: black;
  border-radius: 5px;
  flex-direction: row;
  display: flex;
  gap: 10px;
  padding: 3px 6px;
}

.buttonIcon {
  width: 20px;
}

.button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.disabled {
  opacity: 0.5;
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  justify-content: flex-end;
  width: 280px;
}

.holdingAmount {
  font-weight: 400;
}

@media (max-width: 900px) {
  .holdingWrapper {
    padding: 20px;
    gap: 15px;
  }

  .buttonsWrapper {
    margin: auto;
    width: 100%;
  }

  .holdingAmount {
    margin-left: auto;
  }
}

@media (max-width: 480px) {
  .buttonsWrapper {
    justify-content: space-evenly;
    gap: initial;
  }
}
