@use '../../styles/mixins.scss';

.text {
  text-align: right;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  font-weight: 450;
}

.wallet {
  width: 35px;
  height: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
  padding: 1px;

  &:hover {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.2);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.2);
    transform: translateY(0px);
  }
}

.balanceIndicatorWrapper {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 45px;
  bottom: 5px;
  gap: 7px;
  align-items: center;
}

.disabled {
  cursor: not-allowed;
  box-shadow: none;
}

.disabled:hover {
  box-shadow: none;
  transform: translateY(0px);
}

.disabled:active {
  box-shadow: none;
}

.signatureToast {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 20px;
  align-items: self-end;
}

.interactions {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.maxButton {
  font-weight: 500;
  cursor: pointer;
}
