@use '../../ui-components/styles/mixins.scss';

.infoButtonWrapper {
  padding: 10px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.infoButtonWrapper:hover {
  @include mixins.shadow_border;
}
