.holdingWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px 40px;
  margin: 20px 0;
}

.assetWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35%;
}

.holdingUnits {
  font-size: 18px;
  white-space: pre;
  margin-left: 20px;
}

.spendable {
  margin-left: 20px;
  font-size: 14px;
  opacity: 0.85;
}

.buttonIcon {
  width: 20px;
}

.button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.disabled {
  opacity: 0.5;
}

.buttonsWrapper {
  display: flex;
  width: 33%;
  flex-direction: row;
  gap: 35px;
  width: 235px;
  position: relative;
  justify-content: flex-end;
}

.holdingAmount {
  opacity: 0.7;
  font-size: 18px;
}
