.shieldMoreWrapper {
  display: flex;
  letter-spacing: 0.03em;
  padding: 30px;
  line-height: 150%;
  overflow: initial;
}

.shieldMoreButton {
  margin-top: 30px;
}
.modalAnchor {
  position: relative;
}
