.root {
  padding: 24px;
}

.item {
  position: relative;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.06em;
  font-size: 16px;
}

.item.faded {
  opacity: 0.5;
}

.item.hidden {
  visibility: hidden;
}

.itemFieldContent {
  display: flex;
  align-items: center;
  gap: 25px;
}

.itemFieldContent.faded {
  visibility: hidden;
}

.itemExpandedContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.progress {
  font-size: 13px;
  margin-top: 40px;
}

.itemDone {
  font-weight: 500;
}
