.defiCardsListWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // using 'gap' breaks the grid
  column-gap: 50px;
}

.defiCard {
  margin-bottom: 50px;
}
