.defiCardsListWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  border-radius: 20px;
}

.defiCard {
  height: calc(100% - 40px);
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 346px;
  overflow: hidden;
}

.dummyDefiCard {
  background-image: url('../../../images/dummyDefiCardImg.svg');
  height: 446px;
  width: 346px;
  background-size: cover;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
  border-radius: 20px;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
}

.investmentFilterInputs {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.searchInput {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.searchInput:focus {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.searchInput:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.select {
  margin-right: 20px;
}

@media screen and (max-width: 1350px) {
  .hideMinWidth {
    display: none;
  }
}

@media (max-width: 768px) {
  .investmentFilterInputs {
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .select {
    gap: 5%;
    margin: 10px 0;
    width: 30%;
  }
}

@media (max-width: 480px) {
  .investmentFilterInputs {
    gap: 10px;
  }

  .select {
    margin: 0;
    width: 100%;
  }
}
