.fade-enter {
  opacity: 0;
  transform: translateY(75px);
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fade-exit {
  display: none;
}

.fade-exit.fade-exit-active {
  display: none;
}

a {
  cursor: pointer;
}
