.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 30px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.sendHeader {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerLabel {
  font-size: 24px;
}
