.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 30px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.fixedInputMessage {
  position: absolute;
  bottom: 30px;
  left: 65px;
}

.nextWrapper {
  align-self: end;
}

.walletSelect {
  align-self: end;
}

.errorMessage {
  font-size: 14px;
  font-weight: 600;
  height: 14px;
  bottom: 10px;
  line-height: 16px;
  align-self: end;
}

.errorAlert {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
  gap: 20px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 30px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}
