@use '../../../styles/mixins';
@use '../../../styles/spacings';

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 1 1 auto;
}

.maxButton {
  background: #fffffe;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 5px;
  font-size: 18px;
  border: 0;
  position: relative;
  cursor: pointer;
  @include mixins.shadow_border;
  @include mixins.gradient_font;
}

.maxButton:hover::before,
.maxButton.maxEnabled::before {
  @include mixins.gradient_border;
}
