.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-between;
}

.leftSegment {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  gap: 18px;
}

.logo {
  height: 35px;
  align-self: center;
}

.rightSegment {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 18px;
  align-items: center;
}

.tags {
  gap: 18px;
  display: flex;
  align-items: center;
}

.navButtons {
  align-items: center;
  display: flex;
  height: 100%;
  align-items: center;
}

@media (max-width: 480px) {
  .tags {
    display: none;
  }
}
