.root {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  max-height: calc(100vh - 100px);
  padding: 30px 30px;
  overflow: auto;
}

.descriptionWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.statsWrapper {
  display: flex;
  flex-direction: row;
  gap: 160px;
}
