.infoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  order: 2;
}

.item {
  display: flex;
  align-items: center;
}

.tagRoot {
  display: flex;
  min-width: 200px;
  flex-shrink: 0;
  order: 1;
}

.valueRoot {
  min-width: 240px;
}

.timeAgo {
  font-style: italic;
}
