.title {
  font-weight: 450;
  font-size: 18px;
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.errorMessage {
  font-size: 14px;
  font-weight: 500;
  margin-top: 16px;
  height: 14px;
  bottom: 10px;
  line-height: 16px;
  margin: 10px 0 10px 0;
  color: #ff004b;
}
