@use '../../../ui-components/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom {
  font-size: 14px;
}

.label {
  @include mixins.gradient_font;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.5px;
  width: fit-content;
}
