@use '../../../ui-components/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.top {
  display: flex;
  align-items: center;
}

.bottom {
  font-size: 14px;
}

.label {
  font-size: 18px;
}
