.row {
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  gap: 15px;
  align-items: center;
  position: relative;
}

.ticks {
  cursor: help;
  height: 12px;
}

.tooltip {
  bottom: 30px;
  position: absolute;
}
