@use '../../../ui-components/styles/mixins';

.root {
  @include mixins.shadow_border;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1px 1fr 1fr 1px 1fr;
  margin-bottom: 30px;
}

.segment {
  padding: 0 30px;
}

.separator {
  width: 1px;
  height: 28px;
  gap: 20px;
  background-color: #eee;
}

.value {
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
  white-space: pre;
  font-size: 16px;
  max-width: 125px;
}

.fee {
  font-size: 14px;
}

.time {
  font-size: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.firstSegment {
  padding: 0 30px 0 40px;
}

.lastSegment {
  padding: 0 40px 0 30px;
}
