@use '../../../ui-components/styles/mixins';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bottom {
  font-size: 14px;
}

.label {
  font-size: 18px;
  height: 20px;
  letter-spacing: 1.1px;
  width: fit-content;
}
