@use '../../../styles/mixins';
@use '../../../styles/spacings';
@use '../../../styles/gradients';
@use '../../../styles/breakpoints';

.headerRoot {
  display: flex;
  align-items: center;
  padding: spacings.$xxl 0;
  justify-content: space-between;
  padding: 35px 10% 50px 10%;
}

.logoRoot {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  line-height: 0;
  cursor: pointer;
}

.logo {
  clip-path: url(#svgPath);
  background: linear-gradient(
    101.14deg,
    white 0%,
    white 33.333%,
    gradients.$primary_from 66.666%,
    gradients.$primary_from 69%,
    gradients.$primary_to 82%
  );
  background-size: 300% 300%;
  overflow: initial;
  height: 48px;
  transition: background-position 1.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.logo.gradient {
  background-position: 0% 0%;
}

.logo.white {
  background-position: 100% 100%;
}

.accountRoot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 90px;
  flex-shrink: 0;
}

.accountItem {
  padding: spacings.$xxs 0;
}

.networkRoot {
  padding: spacings.$xxs 0;
  @media (max-width: breakpoints.$s) {
    display: none;
  }
}

.link {
  opacity: 0.3;
  font-size: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.link.white {
  @include mixins.gradient_font;
}

.link.gradient {
  color: white;
}

.navLink {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  position: relative;
  padding-bottom: 5px;
  opacity: 1;
  font-weight: 450;
  font-size: 16px;
}

.noLetterSpacing {
  letter-spacing: initial;
}

.navLink:hover {
  opacity: 0.5;
}

.navLink.white.active::before {
  @include mixins.gradient_border(0px, 0 0 2px 0);
}

.navLink.gradient.active::before {
  @include mixins.gradient_border(0px, 0 0 2px 0, white, white);
}

.balanceLink {
  opacity: 1;
  position: relative;
  border-radius: 10px;
  padding: 10px 20px;
  @include mixins.shadow_border;
}

.balanceLink.white:hover::before {
  @include mixins.gradient_border;
}

.balanceLink.gradient::before {
  @include mixins.gradient_border(10px, 2px, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.balanceLink.gradient:hover::before {
  @include mixins.gradient_border(10px, 2px, white, white);
}

.balanceLink.white.active::before {
  @include mixins.gradient_border;
}

.balanceLink.gradient.active::before {
  @include mixins.gradient_border(10px, 2px, white, white);
}

.shadowBorder {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.accountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.disableAnimation {
  clip-path: initial;
  transition: initial;
}

@media (max-width: 768px) {
  .accountRoot {
    gap: 50px;
  }
}

@media (max-width: 600px) {
  .logoRoot {
    transform: scale(0.75);
    transform-origin: center left;
  }

  .accountRoot {
    gap: 30px;
    position: absolute;
    text-align: right;
    top: 35px;
    right: 35px;
    flex-direction: column;
  }

  .link {
    width: 100%;
  }
}
