@use '../../../ui-components/styles/mixins';

.root {
  @include mixins.shadow_border;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  background-color: white;
  position: relative;
}

.segment,
.lastSegment {
  display: flex;
  align-items: center;
}

.segment {
  padding: 0 40px;
}

.nameWrapper {
  padding: 0 10px 0 40px;
}

.lastSegment {
  justify-content: space-between;
  gap: 15px;
  flex-direction: row-reverse;
  padding: 0 40px 0 10px;
}

.logo {
  height: 20px;
  margin-right: 10px;
}

.name {
  font-size: 16px;
}

.apy {
  font-size: 16px;
}

.value {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .logo {
    display: none;
  }

  .segment {
    padding: 0 10px;
  }

  .firstSegment {
    padding-left: 15px;
  }

  .lastSegment {
    padding-right: 15px;
  }
}

@media (max-width: 900px) {
  .nameWrapper {
    padding: 0;
  }

  .segment {
    padding: 0;
  }

  .root {
    padding: 20px;
    justify-content: initial;
    display: flex;
    flex-flow: row wrap;
    height: initial;
    gap: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  .lastSegment {
    margin: auto;
    padding: 0;
    bottom: 20px;
    right: 20px;
  }
}
