.root {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  text-transform: uppercase;
  padding-bottom: 7px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.value {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.03em;
}

.compact .value {
  font-size: 20px;
  letter-spacing: 0.03em;
}
