@use '../../../styles/gradients.scss';

.infoWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
}

.infoTooltip {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url('../../../images/info_icon.svg');
  width: 20px;
  height: 20px;
  border-radius: 5px;
  bottom: 5px;
  position: absolute;
  right: 0px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}
.closeTooltip {
  background-image: url('../../../images/close.svg');

  &:hover {
    opacity: 1;
    transform: scale(1);
  }
}
