.root {
  margin-top: 20px;
  width: 100%;
  border: solid #ffa937 4px;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 200%;
  padding: 10px 30px;
  background-color: white;
}

.errored {
  border-color: red;
}
