@use '../../styles/mixins.scss';
@use '../../styles/colors.scss';

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}

.toast {
  @include mixins.shadow_border;
  border-radius: 20px;
  line-height: 26px;
  color: black;
  padding: 20px 25px;
  max-width: 625px;
  will-change: transform;
  overflow-wrap: break-word;
  background-color: white;
  animation: fade-in 0.3s ease, slide-in 0.3s ease;
  font-size: 16px;
  position: relative;
}

.text {
  padding: 0 20px 0 0;
}

.heavy {
  order: 1;
}

.closeButton {
  top: 0;
  right: 15px;
  position: absolute;
  padding: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: right;
}

.error {
  border-top: 6px solid colors.$error;
  border-bottom: 1px solid colors.$error;
  border-left: 1px solid colors.$error;
  border-right: 1px solid colors.$error;
}

.warning {
  border-top: 6px solid colors.$warning;
  border-bottom: 1px solid colors.$warning;
  border-left: 1px solid colors.$warning;
  border-right: 1px solid colors.$warning;
}

.collapseButton {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 10px;
}

.collapseButton {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 10px;
}
