.root {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.content {
  padding: 32px;
  background: white;
  border-radius: 20px;
  border-top: 6px solid #ffd166;
  border-bottom: 1px solid #ffd166;
  border-left: 1px solid #ffd166;
  border-right: 1px solid #ffd166;
}

.message {
  padding-top: 8px;
  padding-bottom: 24px;
}
