@use '../../styles/mixins';

.link {
  color: black;
  white-space: pre;
}

.link:active {
  color: black;
}

.label {
  color: #2f1f49;
  font-size: 18px;
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}

.icon {
  width: 40px;
  margin-left: 10px;
  margin-bottom: -12.5px;
}
