@use '../../styles/mixins.scss';

.toggleWrapper {
  user-select: none;
  position: relative;
  width: 100%;
  height: 48px;
  background-color: white;
  font-weight: 450;
  border-radius: 10px;
  @include mixins.shadow_border;
}

.boldLabels {
  height: 48px;
  transition: transform 0.2s;
  font-weight: 500;
}

.switch {
  position: relative;
  width: 100%;
  height: 48px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  @include mixins.shadow_border;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 48px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.label {
  letter-spacing: 1px;
  white-space: break-spaces;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
}

.sublabel {
  letter-spacing: 1px;
  white-space: break-spaces;
  font-size: 14px;
  line-height: 24px;
  font-weight: 450;
  text-transform: capitalize;
}
