@use '../../../../../../ui-components/styles/mixins';

.root {
  position: relative;
}

.button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.2);
    transform: translateY(-1px);
  }

  &:active {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 0.2);
    transform: translateY(0px);
  }
}

.overlay {
  position: absolute;
  top: 5px;
  right: 0;
  min-width: 300px;
  background-color: white;
  @include mixins.shadow_border;
  border-radius: 10px;
  padding: 20px;
  z-index: 1;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
