@use '../../../styles/mixins.scss';
@use '../../../styles/gradients';

.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 14px;
}

.opt {
  display: flex;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  padding: 8px 20px;
  border-radius: 10px;
  transition: all ease 0.3s;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &.selected {
    border: 1px solid;
  }
}

.cell {
  position: relative;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.cell::before {
  @include mixins.gradient_border(4px, 1px, #e9e6e6, #e9e6e6);
}

.selected .cell::before {
  @include mixins.gradient_border(4px, 1px);
}

.selected .cell .circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(
    101.14deg,
    gradients.$primary_from 11.12%,
    gradients.$primary_to 58.22%,
    gradients.$primary_to 58.22%
  );
}

.optContent {
  flex-grow: 1;
}
