@use '../../../../styles/mixins.scss';

.cardWrapper {
  background: white;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  @include mixins.shadow_border;
}
