@use '../../styles/mixins';

.field {
  border: none;
  outline-width: 0;
  outline-color: transparent;
  padding: 2px 20px 0 20px;
  width: calc(100% - 30px);
  height: 45px;
  color: black;
  border: 1px solid transparent;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  border-radius: 10px;
  text-align: left;
  text-overflow: ellipsis;
  transition: box-shadow 0.2s;
  @include mixins.shadow_border;
  // fix for iOS Safari:
  -webkit-appearance: none;

  &:focus,
  &:hover {
    box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.fieldHasSelector {
  padding: 2px 75px 10px 20px;
  height: 55px;
}

.fullWidthField {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin: 15px 0;
}

.inputWrapper {
  width: 100%;
  display: flex;
  gap: 15px;
}

.content {
  display: flex;
  align-items: baseline;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin: 10px 0 20px 0;
}

.disabled.actionSelected::before {
  border: none;
  background: linear-gradient(45deg, rgba(239, 239, 239, 0.3), rgba(239, 239, 239, 0.3));
}

.loader {
  position: absolute;
  right: 0;
  top: calc((100% - 15px) / 2);
}

.icon {
  position: absolute;
  right: 0;
  top: calc((100% - 15px) / 2);
  height: 15px;
  width: 15px;
}

.title {
  font-weight: 450;
  font-size: 18px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  font-weight: 400;
  font-size: 15px;
  width: 100%;
  margin-top: 15px;
  white-space: normal;
}

.message {
  font-weight: 450;
  font-size: 15px;
  height: 16px;
  text-align: left;
  padding-right: 30px;
}

.errorMessage {
  color: #e64e20;
}

.warningMessage {
  color: #ffa938;
}

.success {
  border: 1px solid #1de5ce;
}

.warning {
  border: 1px solid #ffa938;
}

.error {
  border: 1px solid #e64e20;
}

.assetWrapper {
  position: absolute;
  height: 45px;
  top: 0;
  right: 30px;
  display: flex;
  align-items: center;
}

.fullWithAssetWrapper {
  right: 0px;
}

.assetName {
  font-size: 16px;
  font-weight: 450;
  right: 15px;
  position: absolute;
}

.inputInner {
  position: relative;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: self-end;
  width: calc(100% - 30px);
}

.disabled {
  color: #4a4a4a;
  background-color: rgba(239, 239, 239, 0.3);
  background: radial-gradient(rgba(239, 239, 239, 0.3), rgba(239, 239, 239, 0.3));
  -webkit-text-fill-color: #4a4a4a;
  cursor: not-allowed;
  &:hover {
    @include mixins.shadow_border;
  }
}

.monospaced {
  font-family: monospace;
}

.isClickable {
  cursor: pointer;
}

.noBackground {
  background-color: transparent;
}
