.infoWrapper {
  position: relative;
}

.infoTooltipWrapper {
  padding: 10px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  cursor: help;
}

.infoTooltip {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  background-image: url('../../../images/info_icon.svg');
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
