.content {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gasSection {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.centeredText {
  text-align: center;
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoRoot {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 200%;
}

.positionedInfoButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
