.heading {
  font-size: 14px;
  font-weight: 450;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.result {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 25px;
  height: 18px;
}

.prompt {
  font-size: 14px;
}

.amount {
  font-weight: 500;
  font-size: 18px;
}

.price {
  font-size: 10px;
  opacity: 0.8;
}
