$colors: (
  'black': #000000,
  'white': #ffffff,
  'red': #c92918,
  'green': #0ccb52,
  'yellow': #f5d318,
  'blue': #2772ce,
  'magenta': #49098a,
  'cyan': #1dd4d4,
);

@keyframes text-blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  26% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// TODO - should apply to all background and color combinations
@keyframes text-blink-inverse {
  0% {
    background-size: 100%;
    color: map-get($colors, 'black');
  }
  25% {
    background-size: 100%;
    color: map-get($colors, 'black');
  }
  26% {
    background-size: 0;
    color: map-get($colors, 'white');
  }
  75% {
    background-size: 0;
    color: map-get($colors, 'white');
  }
  76% {
    background-size: 100%;
    color: map-get($colors, 'black');
  }
  100% {
    background-size: 100%;
    color: map-get($colors, 'black');
  }
}

.display {
  $display-background: map-get($colors, 'black');
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  line-height: 18px;
  background: $display-background;
  color: map-get($colors, 'white');

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        transparentize($display-background, 1) 50%,
        transparentize(darken($display-background, 10), 0.75) 50%
      ),
      linear-gradient(
        90deg,
        transparentize(#ff0000, 0.94),
        transparentize(#00ff00, 0.98),
        transparentize(#0000ff, 0.94)
      );
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 2;
  }
}

.line {
  min-height: 18px;

  span {
    word-break: break-all;
    white-space: break-spaces;
  }
}

@each $name, $hex in $colors {
  .c-#{$name} {
    color: $hex;
  }

  .bg-#{$name} {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 center;
    background-image: linear-gradient(to bottom, transparent 0, $hex 0);
  }
}

.bold {
  font-weight: bold;
}

.blink {
  animation: text-blink 1.2s infinite;
  user-select: none;
}

.blink-inverse {
  animation: text-blink-inverse 1.2s infinite;
}
