.accessAccountForm {
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @media (max-width: 480px) {
    padding: 20px;
  }
}

.message {
  font-size: 18px;
}

.buttons {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: flex-end;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}
