.loadingRoot {
  display: flex;
  flex-direction: column;
  margin-top: calc(-118px / 2);
}

.balances {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 40px;
}

.accessAccountFormWrapper {
  margin: auto;
  width: 80%;
  // 1/2 height of navbar
  padding-bottom: 66px;
}

@media (max-width: 1200px) {
  .balances {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .accessAccountFormWrapper {
    width: 100%;
  }
}
