.toastGroup {
  position: fixed;
  inset-block-end: 0;
  padding-block-end: 5vh;
  gap: 20px;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}
