@use '../../../../ui-components/styles/mixins.scss';
@use '../../../../ui-components/styles/spacings.scss';

.content {
  display: flex;
  padding-left: spacings.$s;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.maxButton {
  background: #fffffe;
  border-radius: 10px;
  width: 70px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 5px;
  font-size: 18px;
  border: 0;
  position: relative;
  cursor: pointer;
  @include mixins.shadow_border;
  @include mixins.gradient_font;
}

.maxButton:hover::before {
  @include mixins.gradient_border;
}
