.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  padding: 0 20px;
}

.row:nth-child(even) {
  background-color: #fafafa;
}

.title {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.values {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  text-align: right;
}

.cost {
  width: 200px;
  text-align: left;
  font-weight: 400;
}

.assetIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  width: 140px;
}

.l1AssetIcon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
