.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  border: 1px solid transparent;
  padding: 0 24px;
}

.row:nth-child(even) {
  background-color: #fafafa;
}

.title {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.values {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  text-align: right;
}

.cost {
  width: 200px;
  text-align: left;
  font-weight: 400;
}

.assetIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.amount {
  width: 180px;
}

.l1AssetIcon {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.investmentRow {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #e2e2e2;
  padding: 0 24px;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
}

.recipient {
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
