.sendWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  padding: 30px 30px;
  max-height: calc(100vh - 100px);
  overflow: auto;
}

.header {
  display: flex;
  gap: 18px;
}

.description {
  width: 100%;
}

.toggle {
  width: 40%;
}
