@use '../../styles/mixins';
@use '../../styles/spacings';
@use '../../styles/colors';
@use '../../styles/breakpoints';

.headerRoot {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 35px 0 50px 0;
  align-items: center;
  align-self: center;
  z-index: 5;
  @include mixins.max_element_width;
}

.logoRoot {
  align-items: center;
  width: 245px;
  cursor: pointer;

  @media (max-width: 768px) {
    transform-origin: center left;
    transform: scale(0.66);
    width: calc(245px * 0.66);
  }
}

.logo {
  background-size: 300% 300%;
  overflow: initial;
  height: 48px;
}

.logo.gradient {
  background-position: 0% 0%;
}

.logo.white {
  background-position: 100% 100%;
}

.accountRoot {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  gap: 60px;
  flex-shrink: 0;
}

.accountItem {
  padding: spacings.$xxs 0;
}

.networkRoot {
  padding: spacings.$xxs 0;
  @media (max-width: breakpoints.$s) {
    display: none;
  }
}

.link {
  opacity: 0.3;
  font-size: 24px;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #2f1f49;
}

.navLink {
  border-bottom: 2px solid transparent;
  position: relative;
  padding-bottom: 4px;
  opacity: 1;
  margin-top: 5px;
  font-weight: 450;
  font-size: 16px;
}

.noLetterSpacing {
  letter-spacing: initial;
}

.navLink:hover {
  opacity: 0.5;
}

.navLink.active {
  border-bottom: 2px solid #2f1f49;
}

.alert {
  position: absolute;
  top: -6px;
  right: -16px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  align-items: center;

  @media (max-width: 480px) {
    right: 35px;
    top: -5px;
  }
}

.balanceLink {
  opacity: 1;
  position: relative;
  border-radius: 10px;
  padding: 10px 20px;
  @include mixins.shadow_border;
}

.balanceLink.white:hover::before {
  @include mixins.gradient_border;
}

.balanceLink.gradient::before {
  @include mixins.gradient_border(10px, 2px, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.balanceLink.gradient:hover::before {
  @include mixins.gradient_border(10px, 2px, white, white);
}

.balanceLink.white.active::before {
  @include mixins.gradient_border;
}

.balanceLink.gradient.active::before {
  @include mixins.gradient_border(10px, 2px, white, white);
}

.shadowBorder {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.accountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.disableAnimation {
  transition: initial;
}

.mobileImage {
  display: none;
}

@media (max-width: 1024px) {
  .accountRoot {
    gap: 40px;
  }

  .headerRoot {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .headerRoot {
    margin: 35px 0 85px 0;
  }

  .accountComponent {
    position: absolute;
    top: 95px;
    right: 10%;
  }

  .accountRoot {
    gap: 40px;
  }

  .link {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .logoRoot {
    top: 26px;
  }

  .headerRoot {
    margin: 35px 0 118px 0;
  }

  .accountRoot {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fffffff8;
    border-top: 1px solid #dfdfdf;
    z-index: 1;
    right: 0;
    height: 50px;
    padding: 5px 10px 0 10px;

    .link {
      color: #20293e;
      text-align: center;
      font-size: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7px 0;
      gap: 5px;
      height: 100%;
      justify-content: space-between;
    }
  }

  .navLink {
    padding: 10px 0 0 0;
  }

  .navLink.gradient.active::before {
    background: initial;
  }

  .navLink.white.active::before {
    background: initial;
  }

  .mobileImage {
    fill: #5a5a5a;
    display: block;
    width: 20px;
  }

  .accountComponent {
    left: 10%;
    right: 10%;
  }
}
