.root {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.icon {
  background-image: url(../../../../../../images/warning.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 26px;
}

.checkboxRow {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.title {
  font-weight: 500;
  font-size: 18px;
}

.message {
  font-size: 16px;
  margin: 35px 0 50px 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 480px) {
    gap: 30px;
  }
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
