.root {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1fr 0.5fr;
  font-size: 14px;
  align-items: end;
}

.time {
  font-weight: 300;
}

.amount {
  padding-right: 20px;
}

.price {
  opacity: 0.2;
}
