.root {
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 1fr 0.5fr;
  font-size: 16px;
  align-items: center;
}

.time {
  font-size: 16px;
  font-weight: 450;
}

.amount {
  font-size: 16px;
}

.price {
  font-size: 14px;
  opacity: 0.8;
}

@media (max-width: 900px) {
  .root {
    flex-direction: column;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: self-end;
  }

  .label {
    position: absolute;
    left: 55px;
  }

  .amount {
    padding-right: 0;
  }
}
